@import "../../app.scss";


.contact {
    height: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;

    @include desktop {
        padding: 0 20px;
    }

    @include mobile {
        flex-direction: column;
        padding: 40px 20px;
        justify-content: center;
    }

    gap: 50px;

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .contact_info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include mobile {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                .item {
                    width: 45%;
                }

                span {
                    word-break: break-all;

                }
            }

        }

        @include mobile {
            text-align: center;
            justify-content: center;
            flex: none;
        }

        h1 {
            font-size: 100px;
            line-height: 100%;

            @include tablet {
                font-size: 60px;
            }
        }

        span {
            font-weight: 300;
        }
    }

    .formContainer {
        flex: 1;
        position: relative;

        .phoneSvg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            width: 100%;
            stroke: orange;
        }


        .ty {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            width: 100%;
            text-align: center;
            background: #3cc35c;
            padding: 20px;
            display: none;
        }

        form {

            display: flex;
            flex-direction: column;
            gap: 10px;

            input {
                border: 1px solid #fff;
                border-radius: 5px;
                background: none;
                line-height: 40px;
                color: #fff;
                padding: 0 20px;
                font-size: 18px;

                &::placeholder {
                    color: gray;
                }
            }

            textarea {
                border: 1px solid #fff;
                border-radius: 5px;
                background: none;
                font-size: 18px;
                padding: 20px;
                color: #fff;

                &::placeholder {
                    color: gray;
                }
            }

            button {
                padding: 10px 30px;
                border-radius: 5px;

                font-size: 18px;
                background: orange;
                border: none;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background: rgb(143, 94, 3);
                }
            }

        }
    }
}