.navbar {
    height: 100px;
    background: #0c0c1d;
    position: relative;


    .wrapper {

        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        span {
            font-weight: bold;
        }

        .social {
            display: flex;
            gap: 20px;

            img {
                width: 18px;
                transition: .3s;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}