@import "../../app.scss";


#cursor {
    width: 50px;
    border: 1px solid #fff;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: fixed;
    z-index: 9999;
    pointer-events: none;

    @include tablet {
        display: none;
    }
}